*{
    margin: 0;
    box-sizing: border-box;

    background-color: #020202;
    
    color: #FFFFFF;
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

#subtitle {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

h2 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.data-table {
    width: 70%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#table-header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 50px;
}

.legend {
    display: flex;
    align-items: center;

    font-size: 10px;

    margin-top: 10px;
}

.label-p {
    margin-left: 15px;
}

.resolution-selection {
    align-items: center;

    width: fit-content;
}

.tablecontent {
    display: none;

    font-size: 13px;
    border-spacing:0;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.table-th {
    padding: 0 15px 15px 15px;

    border-bottom: 1px solid #FFFFFF;
}

.tabs {
    border: none;

    padding-left: 10px;
    padding-right: 10px;
}

.active-button {
    background-color: #FFFFFF;
    color: #020202;
}

.active-tab {
    display: block;
}

.nvidia-line {
    text-align: left;
    color: #00ff22;

    border-bottom: 1px solid #FFFFFF;
}

.amd-line {
    text-align: left;
    color: #ff0000;

    border-bottom: 1px solid #FFFFFF;
}

.gpu-data {
    text-align: center;


    padding: 10px 0;
    border-bottom: 1px solid #FFFFFF;
}

.positive-difference {
    color: rgb(255, 0, 0);
}

.negative-difference {
    color: rgb(9, 255, 0);
}

.recommended-gpu {
    background-color: #ffa052;
}

.ideal-gpu {
    background-color: #006c74;
}

footer {
    margin-top: 50px;
}