.nvidia-line {
  text-align: left;
  color: #00ff22;
  padding-top: 5px;

  border-bottom: 1px solid #ffffff;
}

.amd-line {
  text-align: left;
  color: #ff0000;
  padding-top: 5px;

  border-bottom: 1px solid #ffffff;
}

.intel-line {
  text-align: left;
  color: #4a74ff;
  padding-top: 5px;

  border-bottom: 1px solid #ffffff;
}

.gpu-data {
  text-align: center;

  padding: 10px 0;
  border-bottom: 1px solid #ffffff;
}

.buy-link {
  display: block;
  margin: 10px 5%;
}

.buy-button {
  text-align: center;
  font-size: 10px;
  padding: 5px 5px;

  color: #ffffff;
  background-color: #020202;

  border: 1px solid #ffffff;
}

.buy-button:hover {
  background-color: #ffffff;
  color: #020202;
  cursor: pointer;
}

/* =================== MOBILE ======================= */

@media (max-width: 720px) {
  .nvidia-line,
  .amd-line,
  .intel-line {
    position: sticky;
    left: 0;
  }
}
